h3{
	color: #229089;
}

a.btn.btn-success{
	background-color: #229089;
	margin-left: 95px;
}

div.container.c{
	padding-top: 5px;
}



@media (min-width: 992px){
	div.card{
		margin-left: 25px;
	}
	div.container.judul{
		color: #229089;
	}
	
	footer{
		margin-top: 100px;
	}
	
	a.btn.btn-success{
		background-color: #229089;
		margin-left: 95px;
	}
}
