.container h2 {
    font-size: 30px;
    color: #229089;
    text-align: center;
    margin-bottom: 60px;
    margin-top: 30px;
    font-weight: bold;
}

.kontak {
    font-size: 20px;
    color: #229089;
    margin-left: 400px;
    font-weight: bold;
}

footer {
    margin-top: 100px;
}