.container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    padding: 20px 25px;
    width: 450px;
}

.button {
    border-radius: 10px;
    margin-right: 20px;
    margin-bottom: 10px ;
    background-color:#229089;
}

/*.container h5 {
    font-size: 30px;
    color: #229089;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
}*/