/* navbar */
.navbar {
    background-color: #229089;
}


.logo {
    height: 40px;
}

/* jumbotron */
.jumbotron {
    background-image: url(img/jumbotron.jpg);
    background-size: cover;
    height: 540px;
    text-align: center;
} 

.jumbotron .display-4 {
    margin-top:250px;
    font-weight: bold;
    color: white;
    font-size: 30px;
    margin-bottom: 25px;
}

.jumbotron .container {
    font-style: italic;
}

.jumbotron .lead {
    color: gray;
    font-size: 15px;
}


/* about */

.about {
    margin-top: 80px;
}

.about h3 {
    font-size: 30px;
    color: #229089;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
}

.about p {
    font-size: 18px;
    color: #acacac;
    text-align: center;
    margin-bottom: 50px;
}
.about h4 {
    margin-top: 20px;
    text-align: center;
}

/* footer */

.logo-footer {
    width: 50px;
    margin-top: 40px;
}


.page-footer {
    background-color:#229089 ;
    color: white;
}

.page-footer h4 {
    margin-top: -40px;
    margin-left: 55px;
}

.page-footer h3 {
    margin-top: 40px;
    text-align: left;
    color: white;
}

.page-footer .socmed {
    width: 30px;
    margin-right: -45px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 50px;
}

.page-footer .nav-item {
    color: white;
    margin-top: 10px;
}

.footer {
    background-color: #286A66;
    margin-top: 30px;
}

.footer p {
    text-align: center;
}


/* ultility */
.button {
    border-radius: 10px;
    margin-right: 20px;
    margin-bottom: 10px ;
    background-color:#229089;
}

.tombol {
    border-radius: 30px;
    margin-right: 20px;
    margin-bottom: 10px ;
    background-color: black;
}


/* DESKTOP VERSION */
@media (min-width: 992px) {

    /* navbar */
    .navbar {
        background-color: transparent;
    }

    .logo {
        height: 40px;
        margin-right: 5px;
    }

    .navbar-brand, .nav-link {
        color: white !important;
    }

    .nav-link {
        margin-right: 30px;
    }

    .nav-link:hover::after {
        content: '';
        display: block;
        border-bottom: 3px solid #acacac;
        padding-bottom: 5px;
        margin-bottom: -8px;
    }

    /* jumbotron */
    .jumbotron {
        margin-top: -75px;
        height: 640px;
    }

    .jumbotron .display-4 {
        font-size: 40px;
    }

    .jumbotron .lead {
        color: gray;
        font-size: 20px;
    }

    .about .img-fluid {
        height: 300px;
        width: 500px;
    }
}
