.logo{
    height: 50px;
}

.content.utama{
    height: 100%;
    box-shadow: black 5px 5px 12px;
    padding: 20px;
    background-color: gray;
}

.num{
    font-size: 45px;
    font-weight: bold;
}

.house{
    border: black solid 1px;
}

.head{
    box-shadow: black 5px 5px 12px;
    padding: 20px;
    background-color: gray;
}

.anggota{
    box-shadow: black 5px 5px 12px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: darkgray;
}

.preloader{
    background-color: rgb(31, 31, 31) !important;
}

.box-red{
    background-color: salmon;
  }
  
  .box-green{
    background-color: green;
  }
  
  .box-blue{
    background-color: skyblue;
  }
  
  .box-yellow{
    background-color: sandybrown;
  }
  
  .box-def{
    background-color: slateblue;
  }