body {
  font-family: Arial, Helvetica, sans-serif; 
  margin: 0;
  background: #228F89;
  
}
h1 {
  color: black;
}

h2 {
  color: black;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.column {
  float: center;
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #228F89;
  color: black;
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}